body {
    font-family: Roboto, sans-serif;
    position: relative;
    min-height: 100vh;
}


// Navbar

nav {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background: $main-bg-color;
    // border-bottom: 1px solid $main-color;

    .nav-logo {
        font-size: 30px;
        padding-left: 20px;
    }

    ul {
        @extend %flex-center;
    }

    li {
        margin: 0 20px;

        a {
            color: #000;
            font-size: 25px;

            &::after {
                content: "";
                display: block;
                width: 100%;
                height: 2px;
                position: relative;
                top: 5px;
                background: $main-color;
                transform: scaleX(0);
                transition: transform 0.3s ease-in-out;
            }

            &:hover::after {
                transform: scaleX(1);
            }
        }
    }

    .tryout-link {
        font-size: 20px;
        font-weight: bold;
        padding: 15px;
        margin-right: 20px;
        border-radius: 9999px;
        color: $main-bg-color;
        background: $main-color;
    }

    .responsive-nav-btn {
        display: none;
        position: absolute;
        top: 10px;
        left: 10px;
        width: 50px;
        height: 50px;
        background: transparent;
    }
}

@media screen and (max-width: 950px){
    nav {
        justify-content: center;
        flex-direction: column;
        height: auto;
        position: absolute;
        top: -5px;
        border-bottom: 1px solid $main-color;

        ul {
            width: 100%;
            background: $main-bg-color;
            flex-direction: column;
            border-bottom: 1px solid $main-color;
            display: none;
        }

        li {
            height: 70px;
            line-height: 70px;
        }
        .nav-logo {
            padding-left: 0;
            width: 100%;
            background: $main-bg-color;
            text-align: center;
            height: 70px;
            line-height: 70px;
        }
        .tryout-link {
            display: none;
        }
        .responsive-nav-btn {
            display: block;
        }
        .active-nav{
            display: flex;
        }
    }
}

// Global container 

.global-container {
    padding-top: 200px;
    padding-bottom: 400px;
}

// Hero

.hero {
    width: 100%;
    height: 900px;
    @extend %flex-center;
    flex-direction: column;
    padding: 50px 0 75px;
}

.global-title {
    @extend %global-title;
}

.sub-title {
    text-align: center;
    font-size: 32px;
    padding-bottom: 20px;
    line-height: 1.2;
    
}

.hero img {
    width: 900px;
}


@media screen and (max-width: 1100px){
    .global-container {
        padding-top: 150px;
    }
    .hero {
        padding: 0;
        height: 700px;
    }
    .hero img {
        width: 700px;
    }
    .sub-title {
        font-size: 27px;
    }
}
@media screen and (max-width: 750px){
    .global-container {
        padding-top: 100px;
    }
    .hero {
        padding: 100px 0 50px;
        height: 500px;
    }
    .hero img {
        width: 500px;
    }
    .sub-title {
        font-size: 24px;
    }
}
@media screen and (max-width: 550px){
    .global-container {
        padding-top: 100px;
    }
    .hero {
        padding: 75px 0;
        height: 400px;
    }
    .hero img {
        width: 400px;
    }
    .sub-title {
        font-size: 18px;
    }
}
@media screen and (max-width: 450px){
    .global-container {
        padding-top: 100px;
    }
    .hero {
        padding: 75px 0;
        height: 400px;
    }
    .hero img {
        width: 320px;
    }
    .sub-title {
        font-size: 18px;
    }
}